<!--O componente de templates do Rails (ActionView) possui um recurso chamadopartials, que são mini-templates 
que podem ser embutidos em outros templates, ou seja, umapartialnão é usada para renderizar diretamente uma ação,
 mas é usada para compor um pequeno pedaço de uma página. -->

<%= form_for(@cliente) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2> Erro ao salvar registro! Favor verificar. </h2>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nome" %>
    <%= f.text_field :nome %>
    <%= error_tag @cliente, :nome %>
  </div>
  <div class="field">
    <%= f.label "E-mail" %>
    <%= f.text_field :email %>
    <%= error_tag @cliente, :email %>
  </div>
  <div class="field">
    <%= f.label "CEP" %>
    <%= f.text_field :cep %>
    <%= error_tag @cliente, :cep %>
  </div>
  <div class="field">
    <%= f.label "Endereço" %>
    <%= f.text_field :endereco %>
    <%= error_tag @cliente, :endereco %>
  </div>
  <div class="field">
    <%= f.label "Bairro" %>
    <%= f.text_field :bairro %>
    <%= error_tag @cliente, :bairro %>
  </div>
  <div class="field">
    <%= f.label "Município" %>
    <%= f.text_field :municipio %>
    <%= error_tag @cliente, :municipio %>
  </div>
  <div class="field">
    <%= f.label "Estado" %>
    <%= f.text_field :estado %>
    <%= error_tag @cliente, :estado %>
  </div>
  <div class="field">
    <%= f.label "Telefone" %>
    <%= f.text_field :telefone %>
    <%= error_tag @cliente, :telefone %>
  </div>
  <div class="field">
    <%= f.label "Celular" %>
    <%= f.text_field :celular %>
    <%= error_tag @cliente, :celular %>
  </div>
  <div class="field">
    <%= f.label "CPF" %>
    <%= f.text_field :cpf %>
    <%= error_tag @cliente, :cpf %>
  </div>
  <div class="field">
    <%= f.label "RG" %>
    <%= f.text_field :rg %>
    <%= error_tag @cliente, :rg %>
  </div>
  <div class="field">
    <%= f.label "Informações Adicionais" %>
    <%= f.text_area :info %>
    <%= error_tag @cliente, :info %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
