<h1>Clientes</h1>

<% @clientes.each do |cliente| %>
  <article class="cliente">
    <p>
      <h2><%= link_to cliente.nome, cliente , id: "titleArt",  class: "titleArt" %></h2>
        <p class="created">
          <%= cliente.email %>
        </p>
        <p class="created">
          <%= cliente.telefone %>
        </p>
        <p class="created">
          <%= cliente.celular %>
        </p>
        <p class="created">
          <%= cliente.cpf %>
        </p>
        <p class="created">
          <%= cliente.rg %>
        </p>
        <p class="created">
          <%= cliente.info %>
        </p>
    </p>
        <t><%= link_to 'Mostrar', cliente , id: "button1",  class: "button1" %></t>
        <t><%= link_to 'Editar', edit_cliente_path(cliente) , id: "button1",  class: "button1" %></t>
        <t><%= link_to 'Excluir', cliente, method: :delete, data: { confirm: 'Você realmente deseja excluir?' }, id: "button1",  class: "button1" %></t>
  </article>
<% end %>


<br>

<%= link_to 'Novo', new_cliente_path ,  id: "newButton",  class: "newButton"%>
