<h2>Cadastro do cliente</h2>


<p>
  <h3>Nome: <%= @cliente.nome %> </h3>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @cliente.endereco %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @cliente.cep %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cliente.email %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @cliente.bairro %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @cliente.municipio %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @cliente.estado %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @cliente.telefone %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @cliente.celular %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @cliente.cpf %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @cliente.rg %>
</p>

<p>
  <strong>Info:</strong>
  <%= @cliente.info %>
</p>

<%= link_to 'Editar', edit_cliente_path(@cliente) %> |
<%= link_to 'Voltar', clientes_path %> |
<%= link_to 'Nova agenda', new_cliente_agenda_path(@cliente) %> |
<%= link_to 'Mostrar agendas', cliente_agendas_path(@cliente) %>