<%= form_for(@equipamento) do |f| %>
  <% if @equipamento.errors.any? %>
    <div id="error_explanation">
      <h2>Erro ao salvar registro! Favor verificar.</h2>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Descrição" %>
    <%= f.text_field :descricao %>
    <%= error_tag @equipamento, :descricao %>
  </div>
  <div class="field">
    <%= f.label "Marca" %>
    <%= f.text_field :marca %>
    <%= error_tag @equipamento, :marca %>
  </div>
  <div class="field">
    <%= f.label "Fornecedor" %>
    <%= f.text_field :fornecedor %>
    <%= error_tag @equipamento, :fornecedor %>
  </div>
  <div class="field">
    <%= f.label "Potência" %>
    <%= f.text_field :potencia %>
    <%= error_tag @equipamento, :potencia %>
  </div>
  <div class="field">
    <%= f.label "Tipo" %>
    <%= f.text_field :tipo %>
    <%= error_tag @equipamento, :tipo %>
  </div>
  <div class="field">
    <%= f.label "Modelo" %>
    <%= f.text_field :modelo %>
    <%= error_tag @equipamento, :modelo %>
  </div>
  <div class="field">
    <%= f.label "Informações Adicionais" %>
    <%= f.text_area :info %>
    <%= error_tag @equipamento, :info %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
