<h1>Equipamentos</h1>


<% @equipamentos.each do |equipamento| %>
  <article class="equipamento">
    <p>
      <h2><%= link_to equipamento.descricao, equipamento%></h2>
        <span class="created">
          <%= equipamento.marca %>
        </span>
    </p>
        <p><%= link_to 'Mostrar', equipamento %></p>
        <p><%= link_to 'Editar', edit_equipamento_path(equipamento) %></p>
        <p><%= link_to 'Excluir', equipamento, method: :delete, data: { confirm: 'Você realmente deseja excluir?' } %></p>
  </article>
<% end %>


<br>

<%= link_to 'Novo equipamento', new_equipamento_path %>
