<h1 class="title"> Equipamentos </h1>


<% @equipamentos.each do |equipamento| %>
  <article class="equipamento">
    <p>
      <h2><%= link_to equipamento.descricao, equipamento , id: "titleArt",  class: "titleArt" %></h2>
        <p class="created">
          <%= equipamento.marca %>
        </p>
        <p class="created">
          <%= equipamento.modelo %>
        </p>
    </p>
        <t><%= link_to 'Mostrar', equipamento , id: "button1",  class: "button1" %></t>
        <t><%= link_to 'Editar', edit_equipamento_path(equipamento) , id: "button1",  class: "button1" %></t>
        <t><%= link_to 'Excluir', equipamento, method: :delete, data: { confirm: 'Você realmente deseja excluir?' }, id: "button1",  class: "button1" %></t>
  </article>
<% end %>


<br>

<%= link_to 'Novo', new_equipamento_path ,  id: "newButton",  class: "newButton"%>
