<p>
  <strong>Descrição:</strong>
  <%= @equipamento.descricao %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @equipamento.marca %>
</p>

<p>
  <strong>Fornecedor:</strong>
  <%= @equipamento.fornecedor %>
</p>

<p>
  <strong>Potência:</strong>
  <%= @equipamento.potencia %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @equipamento.tipo %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @equipamento.modelo %>
</p>

<p>
  <strong>Informações adicionais:</strong>
  <%= @equipamento.info %>
</p>

<%= link_to 'Editar', edit_equipamento_path(@equipamento) %> |
<%= link_to 'Voltar', equipamentos_path %>
