 <h1 id="title" class="title"> <%= @equipamento.descricao %></h1>

<table  id="showTable" class="showTable">
  <tr>
    <td><strong>Marca:</strong></td>
    <td><%= @equipamento.marca %></td>
  </tr>

  <tr>
    <td><strong>Fornecedor:</strong></td>
    <td><%= @equipamento.fornecedor %></td>
  </tr>

  <tr>
    <td><strong>Potência:</strong></td>
    <td><%= @equipamento.potencia %></td>
  </tr>

  <tr>
    <td><strong>Tipo:</strong></td>
    <td><%= @equipamento.tipo %></td>
  </tr>

  <tr>
    <td><strong>Modelo:</strong></td>
    <td><%= @equipamento.modelo %><td>
  </tr>

  <tr>
    <td><strong>Informações adicionais:</strong></td>
    <td><%= @equipamento.info %></td>
  </tr>
</table> </br>
<%= link_to 'Editar', edit_equipamento_path(@equipamento),id: "button1",  class: "button1" %> 
<%= link_to 'Voltar', equipamentos_path,id: "button1",  class: "button1" %>
