<%= form_for([@orcamento.cliente, @orcamento]) do |f| %>
  <% if @orcamento.errors.any? %>
    <div id="error_explanation">
      <h2> Erro ao salvar registro! Favor verificar. </h2>
    </div>
  <% end %>

   <div class="field">
    <%= f.label "Descricao" %>
    <%= f.text_field :descricao %>
    <%= error_tag @orcamento, :descricao %>
  </div>

   <div class="field">
    <%= f.label "Validade" %>
    <%= f.date_select :validade %>
    <%= error_tag @orcamento, :validade %>
  </div>

  <div class="select">
    <%= f.label "Situação" %>
    <%= f.select :situacao, ['Pendente','Aprovado','Reprovado'] %>
    <%= error_tag @orcamento, :situacao %>
  </div> </br>

  </br>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
