<h1>Orçamentos</h1>


  <% @orcamentos.each do |orcamento| %>
    <article class="equipamento">
      <p class="created">
        <%= orcamento.descricao %>
      </p>
      
      <p class="created">
        <%= orcamento.validade %>
      </p>
      
      <t><%= link_to 'Mostrar',[orcamento.cliente, orcamento] , class: "action_button" %></t>
      <t><%= link_to 'Editar', edit_cliente_orcamento_path(orcamento.cliente, orcamento) , class: "action_button" %></t>
      <t><%= link_to 'Excluir', [orcamento.cliente, orcamento], method: :delete, data: { confirm: 'Are you sure?' }, class: "action_button" %></t>
    </article>
  <% end %>
  <br>

  <%= link_to 'Novo', new_cliente_orcamento_path, id: "newButton",  class: "newButton"%>
