<p id="title" class="title">
  <strong >Orçamento:</strong>
  <%= @orcamento.id %>
</p>
<p id="title" class="title">Itens</p>

<% @orcamento.items.each do |item| %>
  <article class="item">
    <p class="created">
      <%= item.descricao %>
    </p>
    <p class="created">
      <%= item.qtdequipamento %>
    </p>
    <p class="created">
      <%= item.qtdtubulacao %>
    </p>
    <p class="created">
      <%= item.qtdextra %>
    </p>
    <p class="created">
      <%= item.tubulacao %>
    </p>
    <p class="created">
      <%= item.extra %>
    </p>
    <p class="created">
      <%= item.valor %>
    </p>

    <t><%= link_to 'Mostrar', [item.orcamento, item] , class: "action_button" %></t>
    <t><%= link_to 'Editar', edit_orcamento_item_path(item.orcamento, item) , class: "action_button" %></t>
    <t><%= link_to 'Excluir',  [item.orcamento, item], method: :delete, data: { confirm: 'Você realmente deseja excluir?' }, class: "action_button" %></t>
  </article>
<% end %>

</br>

<%= link_to 'Editar', edit_cliente_orcamento_path(@orcamento.cliente, @orcamento) , class: "action_button"%> 
<%= link_to 'Voltar', cliente_orcamentos_path(@orcamento.cliente) , class: "action_button"%>
<%= link_to 'Novo item', new_orcamento_item_path(@orcamento) ,  class: "action_button"%> 

