<p id="title" class="title">
  <strong >Orcamento:</strong>
  <%= @orcamento.id %>
</p>
<p id="title" class="title">Itens</p>



<% @orcamento.items.each do |item| %>
  <article class="item">
    <p class="created">
      <%= item.qtdequipamento %>
    </p>
    <p class="created">
      <%= item.qtdtubulacao %>
    </p>
    <p class="created">
      <%= item.qtdextra %>
    </p>
    <p class="created">
      <%= item.tubulacao %>
    </p>
    <p class="created">
      <%= item.extra %>
    </p>
    <p class="created">
      <%= item.valor %>
    </p>

    <%= vlor = vlor + item.valor %>
    <t><%= link_to 'Mostrar', [item.orcamento, item] , id: "button1",  class: "button1" %></t>
    <t><%= link_to 'Editar', edit_orcamento_item_path(item.orcamento, item) , id: "button1",  class: "button1" %></t>
    <t><%= link_to 'Excluir',  [item.orcamento, item], method: :delete, data: { confirm: 'Você realmente deseja excluir?' }, id: "button1",  class: "button1" %></t>
  </article>
<% end %>

</br>

<%= link_to 'Editar', edit_cliente_orcamento_path(@orcamento.cliente, @orcamento) ,id: "button1",  class: "button1"%> 
<%= link_to 'Voltar', cliente_orcamentos_path(@orcamento.cliente) ,id: "button1",  class: "button1"%>
<%= link_to 'Novo item', new_orcamento_item_path(@orcamento) ,id: "button1",  class: "button1"%> 

