<%= form_for(@agenda) do |f| %>
  <% if @agenda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agenda.errors.count, "error") %> Erro ao salvar registro! Favor verificar</h2>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Data" %><br>
    <%= f.date_select :data %>
    <%= error_tag @agenda, :data %>
  </div>
  <div class="field">
    <%= f.label "Hora" %><br>
    <%= f.time_select :hora %>
    <%= error_tag @agenda, :hora %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
