<h1>Agendas</h1>

<% @agendas.each do |agenda| %>

  <article>
    <p class="created">
      <strong> <%= agenda.cliente.nome %> </strong> 
    </p>    
    <p class="created">
      <%= l agenda.data, format: :long_agenda %>
    </p>
    <p class="created">
      <%= agenda.hora.strftime("%H:%M ")%>
    </p>
    <p class="created">
      <%= agenda.tipo_agenda %>
    </p>  
    <p class="created">
      <%= agenda.observacao %>
    </p> 

    <t><%= link_to 'Mostrar', [agenda.cliente, agenda] , class: "action_button" %></t>
    <t><%= link_to 'Editar', edit_cliente_agenda_path(agenda.cliente, agenda) , class: "action_button" %></t>
    <t><%= link_to 'Excluir',  [agenda.cliente, agenda], method: :delete, data: { confirm: 'Você realmente deseja excluir?' },  class: "action_button" %></t>
  </article>
<% end %>

<br>

<%= link_to 'Nova Agenda', new_cliente_agenda_path, id: "newButton",  class: "newButton"%>
