<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2> Erro ao salvar registro! Favor verificar. </h2>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Quantidade de equipamentos" %><br>
    <%= f.text_field :qtdequipamento %>
    <%= error_tag @item, :qtdequipamento %>
  </div>
  <div class="field">
    <%= f.label "Quantidade de tubulação" %><br>
    <%= f.text_field :qtdtubulacao %>
    <%= error_tag @item, :qtdtubulacao %>
  </div>
  <div class="field">
    <%= f.label "Quantidade extra" %><br>
    <%= f.text_field :qtdextra %>
    <%= error_tag @item, :qtdextra %>
  </div>
  <div class="field">
    <%= f.label "Tubulação" %><br>
    <%= f.text_field :tubulacao %>
    <%= error_tag @item, :tubulacao %>
  </div>
  <div class="field">
    <%= f.label "Extras" %><br>
    <%= f.text_field :extra %>
    <%= error_tag @item, :extra %>
  </div>
  <div class="field">
    <%= f.label "Valor" %><br>
    <%= f.text_field :valor %>
    <%= error_tag @item, :valor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
