<h1>Itens</h1>

<% @items.each do |item| %>
  <article class="item">
    <p class="created">
      <%= item.qtdequipamento %>
    </p>
    <p class="created">
      <%= item.qtdtubulacao %>
    </p>
    <p class="created">
      <%= item.qtdextra %>
    </p>
    <p class="created">
      <%= item.tubulacao %>
    </p>
    <p class="created">
      <%= item.extra %>
    </p>
    <p class="created">
      <%= item.valor %>
    </p>
        <t><%= link_to 'Mostrar', item , id: "button1",  class: "button1" %></t>
        <t><%= link_to 'Editar', edit_item_path(item) , id: "button1",  class: "button1" %></t>
        <t><%= link_to 'Excluir', item, method: :delete, data: { confirm: 'Você realmente deseja excluir?' }, id: "button1",  class: "button1" %></t>
  </article>
<% end %>


<br>

<%= link_to 'Novo', new_item_path ,  id: "newButton",  class: "newButton"%>
