<p id="title" class="title">
  <strong >Orcamento:</strong>
  <%= @item.orcamento.id %>
</p>

</br>

<h1>Novo item</h1>

</br>

<%= render 'form' %>

</br>

<% @items.each do |item| %>
    <% if item.descricao.present? %>
    <article class="item">
      <p class="created">
        <%= item.descricao %>
      </p>
      <p class="created">
        <%= item.qtdequipamento %>
      </p>
      <p class="created">
        <%= item.qtdtubulacao %>
      </p>
      <p class="created">
        <%= item.qtdextra %>
      </p>
      <p class="created">
        <%= item.tubulacao %>
      </p>
      <p class="created">
        <%= item.extra %>
      </p>
      <p class="created">
        <%= item.valor %>
      </p>
      <t><%= link_to 'Excluir',  [item.orcamento, item], method: :delete, data: { confirm: 'Você realmente deseja excluir?' },  class: "action_button" %></t>
    </article>

  <% end %>
<% end %>

</br>
<%= link_to 'Voltar', cliente_orcamentos_path(@item.orcamento.cliente) , class: "action_button"%>
