<p>
  <strong>Qtdequipamento:</strong>
  <%= @item.descricao %>
</p>
<p>
  <strong>Qtdequipamento:</strong>
  <%= @item.qtdequipamento %>
</p>

<p>
  <strong>Qtdtubulacao:</strong>
  <%= @item.qtdtubulacao %>
</p>

<p>
  <strong>Qtdextra:</strong>
  <%= @item.qtdextra %>
</p>

<p>
  <strong>Tubulacao:</strong>
  <%= @item.tubulacao %>
</p>

<p>
  <strong>Extra:</strong>
  <%= @item.extra %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @item.valor %>
</p>

<%= link_to 'Editar', edit_orcamento_item_path(@item.orcamento, @item) , class: "action_button"%> |
<%= link_to 'Voltar', orcamento_items_path(@item.orcamento) , class: "action_button"%>
