<h1>Usuários cadastrados</h1>

<% @usuarios.each do |usuario| %>
  <article class="usuario">
    <p>
      <h2><%= link_to usuario.nome, usuario , id: "titleArt",  class: "titleArt" %></h2>
        <p class="created">
          <%= usuario.email %>
        </p>
    </p>
        <t><%= link_to 'Mostrar', usuario , class: "action_button" %></t>
        <t><%= link_to 'Editar', edit_usuario_path(usuario) , class: "action_button" %></t>
        <t><%= link_to 'Excluir', usuario, method: :delete, data: { confirm: 'Você realmente deseja excluir?' }, class: "action_button" %></t>
  </article>
<% end %>
<br>

<%= link_to 'Novo', new_usuario_path ,  id: "newButton",  class: "newButton"%>
