<p>
  <strong>Nome:</strong>
  <%= @usuario.nome %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @usuario.password %>
</p>

<%= link_to 'Editar', edit_usuario_path(@usuario) ,id: "button1",  class: "button1"%> 
<%= link_to 'Voltar', usuarios_path ,id: "button1",  class: "button1"%>
